#btnCreate {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
mat-card {
    border-radius: 10px;
    margin: 10px;
    background-image: linear-gradient(to right,#3ec7e061,#526bf454)!important;
}